.hero{
    background: url('hero.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.fa-brands{
    color: white;
}

::-webkit-scrollbar {
    width: 0.5rem;
  }

::-webkit-scrollbar-track {
    background: #dc3545; 
}

::-webkit-scrollbar-thumb {
    background: #ffffff; 
    border-radius: 1rem;
  }

::-webkit-scrollbar-thumb:hover {
    background: #ffc107; 
}